:root{
  --color1: #205375;
  --color2: #112B3C;
  --color3: #EFEFEF;
}
body{
  margin: 0;
}

.main-layout{
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header{
  align-items: center;
  background-color: var(--color2);
  color: #FFFFFF;
  display: flex;
  font-size: 3rem;
  height: 10%;
  justify-content: center;
}

.info-container{
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  font-size: 3rem;
  height: 75%;
  justify-content: center;
}

.footer{
  align-items: center;
  background-color: var(--color1);
  color: #FFFFFF;
  display: flex;
  font-size: 2rem;
  height: 15%;
  justify-content: center;
}
